/* You can add global styles to this file, and also import other style files */

body {
    background-color:#E7F4FF;
}


.table { background-color: white; }

th { padding-right: 10px; }
td { padding-right: 10px; }
td i { cursor: pointer; color: green; }