<div class="row">
    <div class="col-sm-12" style="margin-bottom: 20px;">
        <h2>Welcome to Musiconomi</h2>        
    </div>
    <div class="col-sm-6">
        <h4>Please Log in to continue</h4>
        <p>This is the landing page. Users will be directed here first. They will need to register or sign in to continue to the dashboard.</p>
        <p>The landing page should have an eye-catching theme and be visually stimulating. Perhaps a full-page background video similar to PatternSpace.co</p>
    </div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
        <h4>Built on:</h4>
        <ul>
            <li>Angular4</li>
            <li>Firebase</li>
            <li>Google Cloud</li>
            <li>Ethereum</li>
        </ul>
    </div>
</div>

