<div class="row">
    <div class="col-sm-12" style="margin-bottom: 20px;">
        <h2>Welcome to Musiconomi</h2>        
    </div>
    <div class="col-sm-6">
        <h4>Please Log in to continue</h4>
        <p>This is the landing page. Users will be directed here first. They will need to register or sign in to continue to the dashboard.</p>
        <p>The landing page should have an eye-catching theme and be visually stimulating. Perhaps a full-page background video similar to PatternSpace.co</p>
    </div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
        <h4>Built on:</h4>
        <ul>
            <li>Angular4</li>
            <li>Firebase</li>
            <li>Google Cloud</li>
            <li>Ethereum</li>
        </ul>
    </div>

    <div class="col-sm-8"  style="margin-top: 20px; border-top: 1px solid #555;">
        <h4>Videogular Player Demo</h4>
        <p style="font-weight: bold;">Currently Playing: <span style="color: orange;">{{vgDashSource}}</span></p>
        <vg-player (onPlayerReady)="onPlayerReady($event)">
            <vg-overlay-play></vg-overlay-play>
            <vg-buffering></vg-buffering>
        
            <vg-scrub-bar [vgSlider]="true">
                <vg-scrub-bar-current-time [vgSlider]="true"></vg-scrub-bar-current-time>
                <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
            </vg-scrub-bar>
        
            <vg-controls>
                <vg-play-pause></vg-play-pause>
                <vg-playback-button></vg-playback-button>
        
                <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
        
                <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
        
                <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
                <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
        
                <vg-track-selector></vg-track-selector>
                <vg-mute></vg-mute>
                <vg-volume></vg-volume>
            </vg-controls>
            <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls [vgDash]="vgDashSource" >
            </video>
        </vg-player>
        <div *ngIf="playerError" style="padding:2px; color: red; font-weight: bold;">{{playerError}}</div>
    </div>

    <div class="col-sm-4" style="margin-top: 20px; border-top: 1px solid #555;">
        <h4>Play with Videogular Player</h4>
        <table class="table">
            <tr><th>Play</th><th>Track</th><th>Key</th></tr>
            <tr><td><i class="fa fa-play" (click)="playVideogular('0')"></i></td><td>Sintel Video mpd</td><td>No Key</td></tr>
            <tr><td><i class="fa fa-play" (click)="playVideogular('1')"></i></td><td>Loki.mp4</td><td>No Key</td></tr>
            <tr><td><i class="fa fa-play" (click)="playVideogular('2')"></i></td><td>Loki.mpd</td><td>Request Key</td></tr>
            <tr><td><i class="fa fa-play" (click)="playVideogular('3')"></i></td><td>movie_audio.mp4</td><td>No Key</td></tr>
            <tr><td><i class="fa fa-play" (click)="playVideogular('4')"></i></td><td>movie_audio.mpd</td><td>Request Key</td></tr>
            <tr><td><i class="fa fa-play" (click)="playVideogular('5')"></i></td><td>example.webm</td><td>Request Key</td></tr>
        </table>
    </div>

    <div class="col-sm-9"  style="margin-top: 20px; border-top: 1px solid #555;">
        <h4>DASH.JS Player Demo</h4>
        <p style="font-weight: bold;">Currently Playing: <span style="color: orange;">{{currentFile}}</span></p>
        <!-- Dash.js player documentation here: https://github.com/Dash-Industry-Forum/dash.js/blob/development/README.md -->
        <video data-dashjs-player controls #dashplayer style="background-color: black; border: 1px solid #555;">
            <p>This browser does not support the video element.</p>
        </video>
        <div *ngIf="playerError" style="padding:2px; color: red; font-weight: bold;">{{playerError}}</div>
        <h4>Steps to Implement:</h4>
        <ol>
            <li>Convert mp3 to mp4 (command line tool???)</li>
            <li>Encrypt mp4 (using ShakaPackager and the enable_fixed_key_encryption flag)</li>
            <li>Host/upload audio/video files and .mpd manifest</li>
            <li>Add database line for the track with the unique key id and decryption key</li>
            <li>NOTE: Encrypted files play for 9 seconds clearly as their 'sample' portion</li>
        </ol>
    </div>

    <div class="col-sm-3" style="margin-top: 20px; border-top: 1px solid #555;">
        <h4>Choose File To play:</h4>
        <div class="row">
            <div class="col-xs-12"><button class="btn btn-primary btn-block" (click)="playAudioFile('1')">Loki.mp4 (unencrypted)</button></div>
            <div class="col-xs-12"><button class="btn btn-warning btn-block" (click)="playAudioFile('2')">Loki_cenc.mpd (encrypted)</button></div>
            <div class="col-xs-12"><button class="btn btn-success btn-block" (click)="requestKey('121a0fca0f1b475b8910297fa8e0a07e')">Request Key</button></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xs-12"><button class="btn btn-primary btn-block" (click)="playAudioFile('3')">movie_audio.mp4 (unencrypted)</button></div>
            <div class="col-xs-12"><button class="btn btn-warning btn-block" (click)="playAudioFile('4')">movie_audio_cenc.mpd (encrypted)</button></div>
            <div class="col-xs-12"><button class="btn btn-success btn-block" (click)="requestKey('69690fca0f1b475b8910297fa8e0a07e')">Request Key</button></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xs-12"><button class="btn btn-primary btn-block" (click)="playAudioFile('5')">example.webm (encrypted)</button></div>
            <div class="col-xs-12"><button class="btn btn-success btn-block" (click)="requestKey('examplekeyid')">Request Key</button></div>            
        </div>
        <div class="row" style="margin-top: 10px;">
            <p>Current Key: <span style="color: blue;">{{currentKeyString}}</span></p>
            <p>Raw Key: <span style="color: blue;">{{KEY}}</span></p>
        </div>
    </div>


    <div class="col-sm-12"  style="margin-top: 20px; border-top: 1px solid #555;">
        <h4>HTML5 Audio player</h4>
        <p>Now Playing: Loki_cenc.mpd</p>
        <audio controls #audioplayer>
            <source src='../assets/mp4/Loki_cenc.mpd' />
        </audio>
        <div style="padding:2px; color: red;">Does not recognize .mpd files, and isn't firing the decrypt event for encrypted .mp4 files</div>
    </div>

</div>

