<div class="container">
<div class="row"style="border: 1px solid #333; background-color: white; padding: 10px;">
  <div class="col-xs-8"><h3>Musiconomi - Angular4 on Firebase</h3></div>
  <div class="col-xs-4" style="text-align: right;">
      <button class="btn btn-warning" (click)="logout()" *ngIf="(user | async)?.uid">Firebase Logout</button>
      <button class="btn btn-primary" (click)="login()" *ngIf="!(user | async)?.uid">Firebase Login (Anonymous)</button>
      <p *ngIf="!(user | async)?.uid" style="color: red; padding-top: 10px;">Unauthorized</p>
      <p *ngIf="(user | async)?.uid" style="color: green; padding-top: 10px;">Authorized</p>
  </div>
</div>



<!-- Upload and view Tracks on Google Storage -->
<div class="row" style="margin-top: 10px; border-bottom: 1px solid black;" *ngIf="(user | async)?.uid"> 
  <div class="col-sm-4">
      <h4>Upload Audio Track: <span style="font-size: 10px;">mp3/mp4 files only</span></h4>      
      <input id="file" name="file" type="file" accept=".mp3,.mp4"><br/>
      <button (click)="uploadTrack()" class="btn btn-primary">Upload File</button>
      <h4 style="padding-top: 15px;">Now Playing: {{selectedTrack.filename}} </h4>
      <div><audio #audioplayer controls="true"></audio></div>
  </div>  
  <div class="col-sm-8">
      <h4>Available Audio Tracks:</h4>
      <table class="table table-bordered table-striped" *ngIf="uploadedTrackList">
        <tr><th>Play</th><th>Filename</th><th>downloadUrl</th><th>Delete</th></tr>
        <tr *ngFor="let track of uploadedTrackList | async">
          <td><button class="btn btn-success" (click)="streamTrack(track)"><i class="fa fa-play-circle" style="font-size: 30px;"></i></button></td>
          <td>{{track.filename}}</td>
          <td>{{track.downloadURL | async}}</td>
          <td><button class="btn btn-danger" (click)="deleteTrack(track)">Delete</button></td>
        </tr>
      </table>
  </div>
</div>

  
<!-- Message Demo -->
<div class="row" style="margin-top: 25px; border-bottom: 1px solid black;" *ngIf="(user | async)?.uid"> 
  <div class="col-sm-6" >
	  <h4>Add New Message (inline Observable)</h4>
    <input type="text" id="message" placeholder="Enter a message here" (keyup.enter)="SendMsg($event.target.value)" [(ngModel)]="msgVal" />
    <button class="btn btn-primary" (click)="SendMsg(msgVal)">Submit Message</button>
  </div>
  <div class="col-sm-6" >
    <h4>Messages:</h4>
    <ul>
      <li *ngFor="let item of messages | async">Message: {{item.message}}</li>
    </ul>
  </div>
</div>
  
<!-- Track Demo -->
<div class="row" style="margin-top: 25px; border-bottom: 1px solid black;" *ngIf="(user | async)?.uid"> 
  <div class="col-sm-4" style="margin-top: 25px;">
    <h4>Add New Track (API call to a Function)</h4>
    <input type="text" placeholder="Artist" [(ngModel)]="newTrackArtist" />
    <input type="text" placeholder="Id (ex. 1)" [(ngModel)]="newTrackId" />
    <input type="text" placeholder="Title" [(ngModel)]="newTrackTitle" />
    <input type="text" placeholder="Audio Url" [(ngModel)]="newTrackUrl" />  <!-- Eventually add UPLOAD button? -->
    <button class="btn btn-primary" (click)="SendTrack()">Submit Track</button>
    <div *ngIf="addTrackResult">Result: {{addTrackResult}}</div>
  </div>
  
  <div class="col-sm-4">
    <h4>Track Owners:</h4>
    <ul>
      <li *ngFor="let owner of trackOwners">{{owner}}</li>
    </ul>
  </div>  

  <div class="col-sm-4">
    <h4>Tracks:</h4>
    <ul>
      <li *ngFor="let track of tracks"><span style="color: darkblue;">{{track.title}}</span> by <span style="color: darkgreen;">{{track.artist}}</span></li>
    </ul>
  </div>

</div>




<!-- Login Reminder -->
<div class="small-12 columns" *ngIf="!(user | async)?.uid">
    <h2 style="color: darkred; text-align:center; margin-top:30px;">Please Login to Firebase to Continue...</h2>
</div>  

</div>
<!-- end Container -->
